@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
body {
 scroll-behavior: smooth;
}
:root {
  --foreground-rgb: white;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  .btn {
    @apply py-3 px-7  uppercase  my-3 cursor-pointer  font-semibold ;
  }
  .btn-primary {
    @apply bg-primary  text-white ;
  }
  .btn-white {
    @apply bg-white text-black ;
  }
  .social-link {
    @apply hover:text-primary hover:scale-110 hover:shadow-xl cursor-pointer duration-200 ;
    
  }
  .holover{
    @apply  before:absolute  before:left-0 before:-bottom-2 before:h-[2px] rounded-xl  before:w-0  hover:before:w-10 before:duration-300 before:bg-white  ;
}
.active{
  @apply text-green-300 font-medium  before:absolute  before:left-0 before:-bottom-2 before:h-[2px] rounded-xl  before:w-10 before:duration-300 before:bg-green-300  ;
}
.link{
  @apply relative ;
}
}
