@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
body {
  font-family: 'roboto', sans-serif;
}
:root {
  --foreground-rgb: white;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {


  .btn {
    @apply py-3 px-7  uppercase  my-3 cursor-pointer  font-semibold ;
  }
  .btn-primary {
    @apply bg-primary  text-white ;
  }
  .btn-white {
    @apply bg-white text-black ;
  }
}
